@page
@model AboutModel
@{
    ViewData["Title"] = "BMI Calculator";
}
<head>
    <title>BMI Calculator</title>
    <script type="text/javascript">
        function bmi() {

            var sheight = parseFloat(document.getElementById(‘hgt’).value);
            var sweight = parseFloat(document.getElementById(‘wgt’).value);
            var bmi = sweight / Math.pow(sheight, 2);
            var student_bmi = document.getElementById(‘bmi_index’);
            student_bmi.textContent = bmi.toFixed(2);
        }

    </script>

</head>
<h1>Body Mass Index Calculator</h1>

<h1>Student Name=<input type=text style=”font-size:25px; font-weight: bold;” id=”studentname”></h1>
<h2>Height=<input type=text style=”font-size:20px; font-weight: bold;” id=”hgt”></h2>
<h2>Weight=<input type=text style=”font-size:20px; font-weight: bold;” id=”wgt”></h2>
<h2>BMI=<b id=”bmi_index”></b></h2>

<input type=button value=Calculate onclick=bmi()>
<script type=”text/javascript” src=”bmi2.js”></script>

