@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    120 Brook Street<br />
    High Wycombe<br />
    HP16 4RY <br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fitness_bravo@com">fitness_bravo@com</a><br />
    <strong>Telephone:></strong> 00256789521
</address>
