@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart social | Color Pop | Codepen Challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">





</head>
<body>

            

            <header :class="{ 'hide' : showLiked }">
                <div class="container">

                    <div class="items items-header">
                        <div v-for="item in featuredItems"
                             class="item">
                            <div class="item-inner">
                                <div class="item-media" :style=" `background-image: url(${item.image});` "
                                     v-on:click="highlightItem(item)"></div>
                                <div class="item-nav" v-on:dblclick="likeItem(item)">
                                    <h3 class="title">
                                        {{ item.title }} <span class="view">double tap to like</span>
                                    </h3>
                                    <span class="heart small clickable"
                                          :class="{ 'faded' : !item.liked }"
                                          v-on:click="likeItem(item)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
                <div class="container">
                    <h2 v-if="showLiked">
                        Liked by you
                    </h2>

                    <div class="items">
                        <div v-for="item in feedItems"
                             class="item">
                            <div class="item-inner">
                                <div class="item-media" :style=" `background-image: url(${item.image});` "
                                     v-on:click="highlightItem(item)"></div>
                                <div class="item-nav" v-on:dblclick="likeItem(item)">
                                    <h3 class="title">
                                        {{ item.title }} <span class="view">double tap to like</span>
                                    </h3>
                                    <span class="heart small clickable"
                                          :class="{ 'faded' : !item.liked }"
                                          v-on:click="likeItem(item)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="showLiked && !feedItems.length" class="no-likes">
                    <h3>Not much love yet 🙊</h3>
                    <button v-on:click="showLiked = false">
                        Show everything
                    </button>
                </div>
        </div>

        <footer>
            <div class="container">
           
            </div>
        </footer>

        <div v-if="highlighted" class="modal">
            <div class="modal-inner">
                <div class="close" v-on:click="highlighted = null">
                    Close
                </div>
                <span class="heart small clickable"
                      :class="{ 'faded' : !highlighted.liked }"
                      v-on:click="likeItem(highlighted)"></span>
                <h2 class="modal-title">
                    {{ highlighted.title }}
                </h2>
            </div>
            <div class="modal-media"
                 :style=" `background-image: url(${highlighted.image});` ">
            </div>
        </div>
    </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js'></script>



</body>
</html>
